.product_section {
    background-color: #fffdf2;
    border-radius: 32px 32px 0px 0px;
    padding: 120px var(--home-margin) 79px var(--home-margin);
    @media screen and (max-width: 1050px) {
        padding: 120px 60px 79px 60px;
    }
}
